<div class="homeContainer">
  <div class="whiteBorderGlassBox">
    <div class="homeHeadContainer">
      <div class="row">
        <div class="col-md-auto">
          <div class="avatarFrameonline">
            <img src="assets/img/generic_avatar.png" id="homeAvatarPicture">
          </div>
        </div>
        <div class="col">
          <b>Eduardo</b>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-link" id="dropdownBasic1" ngbDropdownToggle>Online</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" (click)="setUserProperty('status', 'online')">Conectado</button>
              <button class="dropdown-item" (click)="setUserProperty('status', 'away')">Ausente</button>
              <button class="dropdown-item" (click)="setUserProperty('status', 'busy')">Ocupado</button>
              <button class="dropdown-item" (click)="setUserProperty('status', 'appear_offline')">Desconectado</button>
              <div class="dropdown-divider"></div>
              <button (click)="logOut()" class="dropdown-item">Cerrar Sesión</button>
            </div>
          </div>
          <br />
          <span>< Escribe un mensaje Personal ></span>
        </div>
      </div>
    </div>
  </div>
  <div class="whiteContainerPadded marto15">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Buscar un contacto o un número..." [(ngModel)]="query">
      </div>
      <div class="col-md-auto">
        <img src="assets/img/logo_live_add.png" class="icon" (click)="open(content)" />
      </div>
    </div>
    <hr />
    <div class="row" *ngIf="user && user.friends">
      <div class="col-md-12">
        <fa name="chevron-down"></fa>
        <b>Amigos ({{user.friends.length}}/{{user.friends.length}})</b>
      </div>
      <app-contact class="col-md-12" *ngFor="let u of user.friends | search: query" [user_id]="u"></app-contact>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agregar Amigo</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <b>Ingresar el email de tu amigo</b>
    <input type="text" class="form-control" placeholder="Agregar amigo" [(ngModel)]="requestEmail">
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Cancel click')">Cancelar</button>
    <button type="button" class="btn btn-outline-dark" (click)="sendRequest()">Enviar</button>
  </div>
</ng-template>


<ng-template #friendRequest let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Solicitud de Amistad</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-auto">
        <img src="http://via.placeholder.com/100x100">
      </div>
      <div class="col-md">
        <b>{{currentRequest.sender.email}}</b><br />
        <small>{{currentRequest.sender.nick}}</small>
      </div>
    </div>
    <hr />
    Deseas agregar a esta persona a messenger?<br />
    <input type="radio" [(ngModel)]="shouldAdd" name="addToMsn" value="yes" id="yes-add">
    <label for="yes-add"> <b>Sí.</b> Los contactos de Messenger forman parte de tu red</label>
    <br />
    <input type="radio" [(ngModel)]="shouldAdd" name="addToMsn" value="no" id="no-add">
    <label for="no-add"> <b>No, gracias.</b> No te preocupes, no le diremos a nadie que dijiste que no.</label>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-dark" (click)="accept();d()" autofocus>Aceptar</button>
    <button class="btn btn-outline-dark" (click)="decline();d()">Decidir más Tarde</button>
  </div>
</ng-template>
